<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="icon" href="/favicon.ico">
		<script src="/jq"></script>
		<link rel="stylesheet" href="reg.css">
	</head>
	<body>
		<div id="box">
			<h2>注册</h2>
			<div>
				手机号:<input type="text" id="phone" value="1571155555" />
				头像:<input type="file" id="file" />
				密码:<input type="text" id="pwd1" value="2" />
				确认密码:<input type="text" id="pwd2" value="2" />
			</div>
			<div>
				<button type="button" id="reg">注册</button>
				<span id="prompt"></span>
			</div>
		</div>
		<script src="reg.js"></script>
	</body>
</html>
